@font-face {
    font-family: "Nunito Sans Bold";
    src: url("../fonts/NunitoSans-ExtraBold.ttf");
    font-display: swap;
}

.logo-img {
    width: 5rem;
    height: 5rem;
}

.team-card:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

body {
    font-family: "Nunito Sans Bold", sans-serif;
}
