@font-face {
    font-family: "Nunito Sans Bold";
    src: url("../fonts/NunitoSans-ExtraBold.ttf");
    font-display: swap;
}

.logo-img {
    width: 5rem;
    height: 5rem;
}

.team-card:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.match-card:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

#upcomingMatches {
    max-height: 60vh;
    overflow: scroll;

}

#upcomingMatches::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Nunito Sans Bold", sans-serif;
}
